@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
path,
circle {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}
.container {
  margin: 0 auto;
  width: 1140px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  .header_group {
    display: flex;
    justify-content: space-between;
    .left_header {
      display: flex;
      align-items: center;
      .logo_header {
        display: flex;
        align-items: center;
        p {
          margin-left: 13px;
          font-size: 27px;
          line-height: 32px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          color: #222222;
        }
        span {
          font-weight: 900;
          color: #f16d7f;
        }
      }
    }
    .form_header {
      margin-left: 37px;
      display: flex;

      .btn-browse {
        padding: 5px 16px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;
        background-color: #cdcdcc;
        background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        text-decoration: none;
        .str {
          margin-left: 8px;
        }
      }
      input {
        width: 280px;
        padding-left: 16px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #a4a4a4;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 0px 0px 0px;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        outline: none;
        box-sizing: border-box;
      }
      input:focus {
        border: 1px solid #f16d7f;
      }
      input::placeholder {
        color: #a4a4a4;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 11px;
        padding-right: 11px;
        color: #a4a4a4;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 0px 3px 3px 0px;
      }
    }
    .right_header {
      display: flex;
      align-items: center;
      .my_acc {
        box-sizing: border-box;
        font-size: 15px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #ffffff;
        background-color: #f16d7f;
        padding: 5px 16px;
        text-decoration: none;
        margin-left: 26px;
        i {
          margin-left: 8px;
        }
      }
    }
  }
}
.nav {
  background-color: #ffffff;
  .nav_header {
    padding: 20px 0;
    width: 680px;
    ol {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      li {
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 26px;
          font-weight: 700;
          text-transform: uppercase;
          color: #222222;
        }
        a:hover {
          color: #f16d7f;
        }
      }
    }
  }
}
.page_header {
  background-color: #e8e8e8;
  position: relative;
  .page_header_info {
    width: 100%;
    .page_main {
      width: 100%;
    }
    .img_logo {
      position: absolute;
      top: 270px;
      display: flex;
      left: 240px;

      .img_logo_text {
        margin-left: 12px;
        height: 50%;
        h2 {
          font-size: 60px;
          line-height: 1.2;
          font-weight: 900;
          letter-spacing: 0.025em;
          color: #222222;
        }
        p {
          font-size: 40px;
          span {
            font-size: 40px;
            color: #f16d7f;
          }
        }
      }
    }
  }
}
.content {
  margin-top: 100px;
  margin-bottom: 100px;
  .container {
    display: flex;
    justify-content: center;
    .left_content {
      display: flex;
      flex-direction: column;
      padding-right: 20px;

      .left_content_man {
        position: relative;
        margin-bottom: 20px;
        .text_men {
          position: absolute;
          top: 26px;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          color: #222222;
          padding: 16px 20px;
          background-color: #ffffff;
          span {
            font-size: 30px;
            color: #f16d7f;
          }
        }
      }
      .left_content_accesories {
        position: relative;
        .text_accesories {
          position: absolute;
          top: 26px;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          color: #222222;
          padding: 16px 20px;
          background-color: #ffffff;
          span {
            font-size: 30px;
            color: #f16d7f;
          }
        }
      }
    }
    .right_content {
      display: flex;
      flex-direction: column;

      .right_content_women {
        position: relative;
        margin-bottom: 20px;
        .text_women {
          position: absolute;
          top: 26px;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          color: #222222;
          padding: 16px 20px;
          background-color: #ffffff;
          span {
            font-size: 30px;
            color: #f16d7f;
          }
        }
      }
      .right_content_kids {
        position: relative;
        .text_kids {
          position: absolute;
          top: 26px;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 0.025em;
          color: #222222;
          padding: 16px 20px;
          background-color: #ffffff;
          span {
            font-size: 30px;
            color: #f16d7f;
          }
        }
      }
    }
  }
}
.items {
  .container {
    .items_text {
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: #222222;
      h2 {
        margin-top: 16px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #9f9f9f;
      }
    }
    .items_show {
      margin-top: 60px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .items_show_block {
        position: relative;
        margin-bottom: 40px;
        height: 364px;
        display: flex;
        flex-direction: column;
        width: 261px;

        .img_items_show_block_background {
          position: absolute;
          background-color: rgba(58, 56, 56, 0.829);
          width: 260px;
          height: 280px;
          z-index: -2;

          .img_items_show_block {
            position: absolute;
            display: flex;
            top: 98px;
            right: 70px;

            a {
              padding: 13px 15px;
              background-color: rgba(255, 255, 255, 0);
              border: 1px solid #ffffff;
              display: flex;
              align-items: center;
              font-size: 13px;
              line-height: 1.2;
              font-weight: 700;
              color: #ffffff;
              text-decoration: none;
              img {
                margin-right: 8px;
              }
            }
          }
        }
        h1 {
          margin-left: 15px;
          margin-top: 19px;
          font-size: 13px;
          line-height: 1.2;
          font-weight: bold;
          text-transform: uppercase;
          color: #222222;
        }
        p {
          margin-left: 15px;
          margin-top: 17px;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 700;
          text-transform: uppercase;
          color: #f16d7f;
        }
      }
      .items_show_block:hover {
        background-color: #ffffff;
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
      .items_show_block:hover .img_items_show_block_background {
        z-index: 0;
      }
    }
    .item_btn_block {
      margin-bottom: 113px;
      text-align: center;
      .item_btn {
        font-size: 16px;
        line-height: 54px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        background-color: #f16d7f;
        text-decoration: none;
        padding: 18px 24px;
      }
    }
  }
}
.billboard {
  margin-bottom: 97px;
  .billboard_block {
    width: 1140px;
    height: 529px;
    background-color: #222224;
    display: flex;
    position: relative;
    img {
      filter: brightness(70%);
    }
    .style_h1 {
      top: 146px;
      left: 39px;
      position: absolute;
      font-size: 53.7px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.025em;
      color: #ffffff;
      span {
        font-weight: 700;
        color: #f16d7f;
      }
      .style {
        display: block;
        font-size: 32.2px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #ffffff;
      }
    }
    .billboard_block_right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .billboard_block_info {
        margin-left: 36px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        img {
          margin-right: 33px;
        }
        h1 {
          font-size: 20px;
          line-height: 1.2;
          font-weight: 400;
          letter-spacing: 0.025em;
          color: #fbfbfb;
        }
        p {
          margin-top: 17px;
          width: 230px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          letter-spacing: 0.025em;
          color: #fbfbfb;
        }
      }
    }
  }
}
.subscribe {
  margin-bottom: 100px;
  background-image: url("/img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 95%;
  position: relative;
  height: 440px;
  .back_sub {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .back_line {
    height: 100%;
    position: absolute;
    left: 50%;
  }
  .container {
    display: flex;
    align-items: center;
    height: 360px;
    .subscribe_left {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 680px;
      img {
        margin-right: 28px;
      }
      .subscribe_left_text {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 0.025em;
        color: #222224;
        p {
          width: 420px;
        }
        p:nth-child(2) {
          font-size: 12px;
          line-height: 14px;
          font-weight: 300;
          color: #222224;
          margin-top: 20px;
          span {
            font-size: 16px;
            line-height: 26px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #f16d7f;
          }
        }
        .subscribe_left_slider {
          margin-top: 40px;
          display: flex;
          .subscribe_left_slider_1 {
            width: 38px;
            height: 4px;
            background-color: #d6d6d6;
            margin-right: 13px;
          }
          .subscribe_left_slider_2 {
            width: 38px;
            height: 4px;
            background-color: #f16d7f;
            margin-right: 13px;
          }
          .subscribe_left_slider_3 {
            width: 38px;
            height: 4px;
            background-color: #d6d6d6;
          }
        }
      }
    }
    .subscribe_right {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 680px;
      text-align: center;
      .subscribe_right_text {
        font-size: 24px;

        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #222224;
        p:nth-child(2) {
          font-size: 14px;
          margin-top: 10px;
          margin-bottom: 35px;
          text-transform: none;
          font-weight: normal;
        }
      }
      .subscribe_right_mail {
        display: flex;
        input {
          padding: 18px 28px;
          background-color: #e1e1e1;
          border-radius: 23px 0px 0px 23px;
          border-style: none;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.025em;
          color: #222224;
          width: 300px;
          -webkit-transition: 0.1s;
          transition: 0.1s;
          outline: none;
          box-sizing: border-box;
        }

        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 54px;
          font-weight: 400;
          letter-spacing: 0.025em;
          color: #ffffff;
          background-color: #f16d7f;
          border-radius: 0px 23px 23px 0px;
          padding: 0px 20px;
        }
      }
    }
  }
}
